@import url(_normalize.scss);
*{
    padding: 0;
    margin: 0;
    body{
        background: #E4ECFC;
    }
    button{
        min-width: 30px;
        min-height: 20px;
        background-color: inherit;
        border: none;
    }

}
@mixin plusButton{
    color: #000;
    font-size: 32px;
    font-weight: 700; 
    padding: 20px;
    border-radius: 10px;
}


.page_wrapper{
    width: 100vw; 
    height: 100vh; 
    display: flex;

    .projects_side{
        flex: 1 1 auto;
        background-color: rgba(172, 196, 204, 1);
        .projects_heading{
            border: 1px solid #000;
            background: #B49463; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 36px 25px;
            margin-bottom: 50px;
            h4{
            color: #000;
            font-size: 32px;
            font-weight: 700; 
            }
            button{
                @include plusButton();
            }
        }

        .projects_list{
            display: flex;
            gap: 30px;
            flex-direction: column;
            .project_list{
                padding: 12px 18px;
                display: flex;
                justify-content: space-between;
                margin-right: 20px;
                .toggle{
                    margin-right: 15px;
                } 
                p{
                    color: #000;
                    font-size: 24px;
                    font-weight: 700; 
                }
            }
            .chosen_project{
                border: 1px solid #000;
                background: #B49463;
                .toggle{
                    background: #B49463;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
    }



    .main_side{
        flex: 4 1 auto;
        width: 200px;
        height: 200px;
        padding: 36px 82px;
        header{
            display: flex;
            justify-content: end;
            align-items: center;
            margin-bottom: 46px;
            h2{
                flex: 5 1 auto;
                display: flex;
                justify-content: center;
                width: fit-content;
                font-size: 28px;
                font-weight: 700; 
            }
            .addPurpose{
                flex: 1 1 auto;
                display: flex;
                width: max-content;
                align-items: center;
                p{
                    display: block;
                    width: fit-content;
                    font-size: 20px; 
                    font-weight: 500; 
                }
                button{
                    @include plusButton();
                }
            }
        }

        //TO-DO LINES START
        .to-do-line{
            background-color: rgba(172, 196, 204, 1);
            padding: 30px;
            border-radius: 10px; 
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 35px;
            .description_and_priority_part{
                margin-top: 20px;
                .description_side{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 10px;
                }
                .priority_side{
                    display: flex;
                    gap: 10px;
                }
            }
            .title_and_deadline_part{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left_side{
                    display: flex;
                    gap: 30px;
                    #todo-checkbox{
                        height: 25px;
                        width: 25px;
                    }
                }
                .right_side{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                }
            }
        }
        //TO-DO LINES END
    }

}

//POP-UP WINDOWS START
.pop-up{
    display: none;
    position: absolute;
    top: 150px;
    left: 41vw;
    border-radius: 20px;
    border: 1px solid #000;
    background: #ACC4CC; 
    padding: 25px; 
    width: max-content;
    flex-direction: column;
    .title_side{
        display: flex;
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 22px;
        justify-content: center;
        .closeBtn{
            justify-self: end;
            position: absolute;
            top: 22px;
            right: 20px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .title_side{
            font-size: 24px;
            font-weight: 700; 
            display: flex;
            margin-bottom: 22px;
            .closeBtn{
                justify-self: end;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        input{
            background: #A68B5C;
            padding: 6px 8px;
            color: #FFF;
            font-size: 24px;
            font-weight: 500; 
            margin-bottom: 20px;
        }
        #submit_btn, #submit_project_btn{
            border-radius: 10px;
            border: 1px solid #000;
            background: #3B4D3A; 
            padding: 10px 43px;
            color: #FFF;
            font-size: 24px;
        }
    }
}

.pop-up_purpose_window{
    textarea{
        background-color: #A68B5C;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 20px;
        font-size: 18px;
    }
}
//POP-UP WINDOWS END